
<main class="dark">
    <div class="chart-container">
        <ngx-charts-bar-vertical [view]="view"
                                 [scheme]="colorScheme"
                                 [results]="twitterData$ | async"
                                 [gradient]="gradient"
                                 [xAxis]="showXAxis"
                                 [yAxis]="showYAxis"
                                 [legend]="showLegend"
                                 [showXAxisLabel]="showXAxisLabel"
                                 [showYAxisLabel]="showYAxisLabel"
                                 [xAxisLabel]="xAxisLabel"
                                 [yAxisLabel]="yAxisLabel"
                                 (select)="onSelect($event)">
        </ngx-charts-bar-vertical>

        <button id="toggle-stream-btn" class="toggleButton" (click)="toggleStream()"><span *ngIf="streamIsOn">Freeze Streaming</span>
                                                                                    <span *ngIf="!streamIsOn">Continue Streaming</span>
        </button>
    </div>
</main>

